
table {
    width: calc(100% - 40px);
    margin: 10px 20px;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: darkgreen;
    color: white;
    padding: 3px;
    border: 1px solid gray;
}

td {
    font-size: 14px;
    color: black;
    background-color: lightgreen;
    padding: 3px;
    border: 1px solid gray;
}

.redStyle {
    color: black;
    background: red;
}
